@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(90deg, #49464f 0, #373240 100%);
}

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

.button {
  background-color: #b68ef7;
  color: #0a0218;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font: inherit;
}

.button:hover,
.button:active {
  background-color: #a16cf7;
}

.button.button--text-only {
  background-color: transparent;
  color: #ccb2f6;
}

.button.button--text-only:hover,
.button.button--text-only:active {
  color: #b592ed;
}

.modal {
  width: 90%;
  max-width: 35rem;
  background-color: #6b5e81;
  color: #edeaf3;
  border-radius: 8px;
  border: none;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: #d3cedc;
  text-transform: uppercase;
}

.control input {
  width: 100%;
  max-width: 35rem;
  font: inherit;
  font-size: 1.25rem;
  border: 1px solid #d3cedc;
  border-radius: 4px;
  padding: 0.5rem;
}

.actions {
  text-align: right;
}

#home-page {
  width: 80%;
  max-width: 60rem;
  margin: 3rem auto;
  border-radius: 8px;
  color: white;
}

#home-page h2 {
  margin: 0;
  font-size: 2.5rem;
  color: #e1d8f0;
}

#home-page section {
  display: flex;
  gap: 2rem;
  margin: 3rem 0;
}

#home-page section:nth-child(odd) {
  flex-direction: row-reverse;
}

#home-page img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border-radius: 50%;
}

#home-page h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #c7b0ee;
}

#home-page p {
  max-width: 60ch;
  margin: 2rem 0;
  font-size: 1.25rem;
  color: #d5cbe7;
}

.upcoming-session {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #3b3545;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.upcoming-session h3 {
  margin: 0;
  color: #c7b0ee;
}

.upcoming-session p {
  margin: 0.5rem 0;
}

.upcoming-session time {
  color: #b6adc5;
  font-size: 0.85rem;
}

.upcoming-session .actions {
  margin: -0.5rem 0;
}
